body{
    margin:0;
    
}

h1,
h2,
h3,
strong {
    color: #333;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 3;
}

a{
    color:inherit;
}

ul{
    list-style: none;
    margin: 0 10%;
}

#bar{
    background: #404040;
    width: 100%;
    height: 80px;
}
#bar h1{
    color: #FFF;
    padding: 1%;
    font-weight: 0.1;
    font-size: 200%;
    margin: 0;
}

#header {
    background: #bda80f;
    width: inherit;
    height:760px;
}

#header img{
    width:50%;
    height:inherit;
    float: left
}

#header h1{
    font-size: 350%;
    float: right;
    color: #FFF;
    max-width: 7em;
    padding: 10% 10%;
    margin: 0;    
}


.breakfloat{
    clear:both;
}

article{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #555;
    margin: 0 5%;
}

article iframe{
    width: auto;
    height: 300px;
    margin: 5% 10%;
    min-width: 45em;
}

#nav{
    height: 400px;
    padding: 0;
}

#nav h1{
    font-size: 500%;
}

#nav li{
    float: left;
    margin: 4% 9.5%;
    text-align: center;
    font-size: 200%;
    max-width: 5em;
}

#nav img{
    height: 170px;
    width: inherit;
}

#summary{
    padding: 10% 20%;
    background-image: url("summary/cassini.jpg"), url("summary/layer.jpg");
    text-align: justify;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    
    max-width: 80%;
    line-height: 1.5;   
}

#summary p{
    -webkit-columns: 2;
    /* Chrome, Safari, Opera */
    -moz-columns: 2;
    /* Firefox */
    columns: 2;
}

#summary h1{
    font-size: 3rem;   
}


#goals h1{
    font-size: 300%;  
    padding: 5% 0;
}

#goals{
    height: 800px;
    margin-bottom: 9%;
    padding: 0;
    background-image: url("goals/stars.jpg"), url("summary/layer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

#goals #left-ul{
    float: left;
    margin-left: 5%;
    margin-right: 0;
    padding-left: 0;
    padding: 0;
}

#goals #right-ul{
    float: right;
    margin-right: 5%;
    margin-left: 0;
    padding-left: 0;
    padding: 0;
}


#goals li{
    text-align: left;
    height: 100px;
    border-top: 1px solid #ccc;
    padding: 1em;
}

#goals li:first-child{
    border-top:0px;
}


#goal-img{
    width: 20%;
    margin: 0 7%;
}

#goals .goal-icon{
    height: 110px;
    width: 110px;
    float: left;
    border-radius: 110px;
}

#goals p{
    font-size: 100%;
    float:left;
    max-width: 14em;
    margin-left: 1em;
}

#news img{
    float: left;
    width: 46%;
    height: inherit;
}


#news li{
    margin-top: 5%;
    margin-right: 0;
    min-height: 300px;
    border: 1px solid #ccc;
    height: 85%;
    overflow-y: hidden;
}
.news-info{
    float: right;
    margin-left: 0;
    padding: 2% 5%;
    max-width: 44%;
    height: inherit;
}

#news h3{
    font-family: 'Times New Roman', Times, serif;
    margin: 5%;
    text-align: center;
}

#news h1{
    font-size: 170%;
    text-align: left; 
}
